<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8" />
            <title>Fucking Web</title>
        </head>
        <body>
            <header>hhh</header>
            <section>
                <article>h</article>
            </section>
            <aside>Fuck, I am so fuck up. Kill me now</aside>
            <div>
                hello, I am so fuck up. Kill me now
                <span> hello </span>
            </div>
            <span> hello </span>
            <footer>no</footer>
        </body>
    </html>